.articleContainer {
    overflow: auto;
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 2rem; */
}
/* @media (min-width: 1126px) {
    .articleBody {
        padding-left: 2rem;
        width: 68%;
    }
} */
/* @media (max-width: 1226px) {
    .articleBody {
        padding-left: 2rem;
        width: 80%;
    }
} */
/* @media (max-width: 960px) {
    .articleBody {
        padding-left: 1rem;
        width: 55%;
    }
}
@media (max-width: 880px) {
    .articleBody {
        padding-left: 1rem;
        width: 50%;
    }
} */
.articleBody {
    padding-left: 2rem;
    width: calc(100% - 2rem - 15rem);
}
@media (max-width: 1073px) {
    .articleBody {
        padding-left: 2rem;
        width: calc(100% - 2rem);
    }
}
@media (max-width: 768px) {
    .articleBody {
        padding-left: 2rem;
        padding-right: 1rem;
        width: 85%;
    }
}

.pageBodyMain {
    flex-direction: row;
    height: 100vh;
    display: flex;
}
.pageBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.articleBody img {
    max-width: 100%;
}